@charset "UTF-8";

@media (min-width: 320px) and (max-width: 700px){

    body{
        background-color:#1B0132;
        margin: 0px;
        padding: 0px;
        
    }

    h1{
        color: white;
        padding-left: 10px;
    }

    nav{
        background-color: #280248;
        padding: 15px;
        border-radius: 3px;
    }
    nav > p{
        font-size: 13px;
        margin: 0px;
        text-align: right;
    }

    nav > p:hover{

    }

    nav p > a{
        padding-right: 20px;
    }

    nav > p > a:hover{
        background-color: #ffffffe9;
        color: #280248;
        padding: 5px;
        padding-right: px;
        border-radius: 3px;
    }



    .perfil{ 
        padding-bottom: 65px;
        padding-left: 20px;
        margin: 20px;
    }

    .perfil > p{
        float: right;
        text-align: justify;
        font-size: 12px;
    }

    #perfil{
        margin-right: 45px;
        clear: both;
        width: 100px;
        border: 1px solid white;
        border-radius: 49px;
        float: left;
    }

    #redes{
        padding-left: 10px;
        color: white;
        clear: both;
        padding-top: 60px;
    }
    .redes{
        padding-left: 10px;
        clear: both;
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
    }


    .card{
        background-color: #200538;
        border-radius: 8px;
        padding: 10px;
        width: 60px;
        text-align: center;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.219);
        
    }

    .card > img{
        width: 50px;
        border: 1px solid white;
        border-radius: 28px;
        
    }

    #insta > img{
        
    }

    a{
        text-decoration: none;
        color: white;

    }


    .fundo{
        background-color: rgb(21, 0, 47);
        color: white;
        background-size: cover;
        background-attachment: fixed;
        background-image: url(imagens/fundo.jpg);
    }

    #projetos{
        padding-top: 45px;
        margin: 50px;
    }

    .card2{
        background-image: linear-gradient(#200538, #29034a);
        border-radius: 8px;
        padding: 10px;
        padding-left: 10px;
        width: 95px;
        text-align: center;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.219);
        margin-left: 25px;
    
        
    }


    #android{
        display: inline-block;
        
    }

    #android > img{
        width: 80px;
        border: 1.5px solid rgba(0, 0, 0, 0.929);
        border-radius: 4px;
    }

    #android > img:hover{
        width: 85px;
        
        
    }


    #cordel{
        display: inline-block;
        
    }

    #cordel > img{
        width: 80px;
        border: 1.5px solid rgba(0, 0, 0, 0.929);
        border-radius: 4px;
    }

    #cordel > img:hover{
        width: 85px;
        
        
    }


    #social{
        display: inline-block;
        margin-top: 10px;
        
    }

    #social > img{
        width: 80px;
        height: 130px;
        border: 2px solid rgba(0, 0, 0, 0.929);
        border-radius: 4px;
    }

    #social > img:hover{
        width: 85px;
        height: 135px;
        
        
    }
}





@media (min-width: 768px) and (max-width: 1024px){

       body{
        background-color:#1B0132;
        padding: 0px;
        margin: 0px;
        
    }

    h1{
        color: white;
        padding-left: 10px;
    }

    nav{
        background-color: #280248;
        padding: 15px;
        border-radius: 3px;
    }
    nav > p{
        font-size: 13px;
        margin: 0px;
        text-align: right;
    }

    nav > p:hover{

    }

    nav p > a{
        padding-right: 20px;
    }

    nav > p > a:hover{
        background-color: #ffffffe9;
        color: #280248;
        padding: 5px;
        padding-right: px;
        border-radius: 3px;
    }



    .perfil{ 
        padding-bottom: 65px;
        padding-left: 20px;
        margin: 20px;
    }

    .perfil > p{
        float: right;
        text-align: justify;
        font-size: 12px;
    }

    #perfil{
        margin-right: 45px;
        clear: both;
        width: 100px;
        border: 1px solid white;
        border-radius: 49px;
        float: left;
    }

    #redes{
        padding-left: 10px;
        color: white;
        clear: both;
        padding-top: 60px;
    }
    .redes{
        padding-left: 10px;
        clear: both;
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
    }


    .card{
        background-color: #200538;
        border-radius: 8px;
        padding: 10px;
        width: 220px;
        text-align: center;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.219);
        
    }

    .card > img{
        width: 50px;
        border: 1px solid white;
        border-radius: 28px;
        
    }

    #insta > img{
        
    }

    a{
        text-decoration: none;
        color: white;

    }


    .fundo{
        background-color: rgb(21, 0, 47);
        color: white;
        background-size: cover;
        background-attachment: fixed;
        background-image: url(imagens/fundo.jpg);
    }

    #projetos{
        padding-top: 45px;
        margin: 50px;
    }

    .card2{
        background-image: linear-gradient(#200538, #29034a);
        border-radius: 8px;
        padding: 10px;
        padding-left: 10px;
        width: 200px;
        text-align: center;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.219);
        margin-left: 25px;
    
        
    }


    #android{
        display: inline-block;
        
    }

    #android > img{
        width: 150px;
        margin-top: 7px;
        margin-bottom: 7px;
        border: 1.5px solid rgba(0, 0, 0, 0.929);
        border-radius: 4px;
    }

    #android > img:hover{
        width: 156px;
        
        
    }


    #cordel{
        display: inline-block;
        
    }

    #cordel > img{
        width: 150px;
        margin-top: 7px;
        margin-bottom: 7px;
        border: 1.5px solid rgba(0, 0, 0, 0.929);
        border-radius: 4px;
    }

    #cordel > img:hover{
        width: 156px;
        
        
    }


    #social{
        display: inline-block;
        margin-top: 10px;
        
    }

    #social > img{
        width: 158px;
        height: 244px;
        margin-top: 7px;
        margin-bottom: 7px;
        border: 2px solid rgba(0, 0, 0, 0.929);
        border-radius: 4px;
    }

    #social > img:hover{
        width: 156px;
        height: 135px;
        
        
    }
}




@media (min-width: 800px) and (max-width: 1900px){

       body{
        background-color:#1B0132;
        padding: 0px;
        margin: 0px;
        
    }

    h1{
        color: white;
        padding-left: 10px;
    }

    nav{
        background-color: #280248;
        padding: 15px;
        border-radius: 3px;
    }
    nav > p{
        font-size: 13px;
        margin: 0px;
        text-align: right;
    }

    nav p > a{
        padding-right: 20px;
    }

    nav > p > a:hover{
        background-color: #ffffffe9;
        color: #280248;
        padding: 5px;
        padding-right: px;
        border-radius: 3px;
    }



    .perfil{ 
        padding-bottom: 65px;
        padding-left: 20px;
        margin: 20px;
    }

    .perfil > p{
        margin: 0px;
        width: 40px;
        float: right;
        text-align: left;
        font-size: 12px;
    }

    #perfil{
        margin-right: 45px;
        clear: both;
        width: 180px;
        border: 1px solid white;
        border-radius: 110px;
        float: left;
    }

    #redes{
        padding-left: 10px;
        color: white;
        clear: both;
        padding-top: 60px;
    }
    .redes{
        padding-left: 10px;
        clear: both;
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
    }


    .card{
        background-color: #200538;
        border-radius: 8px;
        padding: 10px;
        width: 300px;
        text-align: center;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.219);
        
    }

    .card > img{
        width: 80px;
        border: 1px solid white;
        border-radius: 40px;
        
    }

    #insta > img{
        
    }

    a{
        text-decoration: none;
        color: white;

    }


    .fundo{
        background-color: rgb(21, 0, 47);
        color: white;
        background-size: cover;
        background-attachment: fixed;
        background-image: url(imagens/fundo.jpg);
    }

    #projetos{
        padding-top: 45px;
        margin: 50px;
    }

    .card2{
        background-image: linear-gradient(#200538, #29034a);
        border-radius: 8px;
        padding: 10px;
        padding-left: 10px;
        width: 240px;
        text-align: center;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.219);
        margin-left: 25px;
    
        
    }


    #android{
        display: inline-block;
        
    }

    #android > img{
        width: 170px;
        margin-top: 7px;
        margin-bottom: 7px;
        border: 1.5px solid rgba(0, 0, 0, 0.929);
        border-radius: 4px;
    }

    #android > img:hover{
        width: 190px;
    }


    #cordel{
        display: inline-block;
        
    }

    #cordel > img{
        width: 170px;
        margin-top: 7px;
        margin-bottom: 7px;
        border: 1.5px solid rgba(0, 0, 0, 0.929);
        border-radius: 4px;
    }

    

    #cordel > img:hover{
        width: 190px;
        
        
    }


    #social{
        display: inline-block;
        margin-top: 10px;
        
    }

    #social > img{
        width: 178px;
        height: 276px;
        margin-top: 7px;
        margin-bottom: 7px;
        border: 2px solid rgba(0, 0, 0, 0.929);
        border-radius: 4px;
    }

    #social > img:hover{
        width: 197px;
        height: 295px;
        
        
    }
}



body{
        background-color:#1B0132;
        padding: 0px;
        margin: 0px;
        
    }

    h1{
        color: white;
        padding-left: 10px;
    }

    nav{
        background-color: #280248;
        padding: 15px;
        border-radius: 3px;
    }
    nav > p{
        font-size: 13px;
        margin: 0px;
        text-align: right;
    }

    nav p > a{
        padding-right: 20px;
    }

    nav > p > a:hover{
        background-color: #ffffffe9;
        color: #280248;
        padding: 5px;
        padding-right: px;
        border-radius: 3px;
    }



    .perfil{ 
        padding-bottom: 65px;
        padding-left: 20px;
        margin: 20px;
    }

    .perfil > p{
        margin: 0px;
        width: 40px;
        float: right;
        text-align: left;
        font-size: 12px;
    }

    #perfil{
        margin-right: 45px;
        clear: both;
        width: 180px;
        border: 1px solid white;
        border-radius: 110px;
        float: left;
    }

    #redes{
        padding-left: 10px;
        color: white;
        clear: both;
        padding-top: 60px;
    }
    .redes{
        padding-left: 10px;
        clear: both;
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
    }


    .card{
        background-color: #200538;
        border-radius: 8px;
        padding: 10px;
        width: 300px;
        text-align: center;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.219);
        
    }

    .card > img{
        width: 80px;
        border: 1px solid white;
        border-radius: 40px;
        
    }

    #insta > img{
        
    }

    a{
        text-decoration: none;
        color: white;

    }


    .fundo{
        background-color: rgb(21, 0, 47);
        color: white;
        background-size: cover;
        background-attachment: fixed;
        background-image: url(imagens/fundo.jpg);
    }

    #projetos{
        padding-top: 45px;
        margin: 50px;
    }

    .card2{
        background-image: linear-gradient(#200538, #29034a);
        border-radius: 8px;
        padding: 10px;
        padding-left: 10px;
        width: 240px;
        text-align: center;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.219);
        margin-left: 25px;
    
        
    }


    #android{
        display: inline-block;
        
    }

    #android > img{
        width: 170px;
        margin-top: 7px;
        margin-bottom: 7px;
        border: 1.5px solid rgba(0, 0, 0, 0.929);
        border-radius: 4px;
    }

    #android > img:hover{
        width: 190px;
    }


    #cordel{
        display: inline-block;
        
    }

    #cordel > img{
        width: 170px;
        margin-top: 7px;
        margin-bottom: 7px;
        border: 1.5px solid rgba(0, 0, 0, 0.929);
        border-radius: 4px;
    }

    

    #cordel > img:hover{
        width: 190px;
        
        
    }


    #social{
        display: inline-block;
        margin-top: 10px;
        
    }

    #social > img{
        width: 178px;
        height: 276px;
        margin-top: 7px;
        margin-bottom: 7px;
        border: 2px solid rgba(0, 0, 0, 0.929);
        border-radius: 4px;
    }

    #social > img:hover{
        width: 197px;
        height: 295px;
        
        
    }
