@charset "UTF-8";


.redes{
    display: flex;
     gap: 20px;
    flex-wrap: wrap;
}

.card{
    border-radius: 8px;
    padding: 10px;
    width: 60px;
    text-align: center;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.219);

}

.card > img{
    width: 50px;
}

#insta img{
    border-radius: 24px;
}

